*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(31, 31, 53);
    color: #fcfdfe;
    font-size: 1.3rem;
    scroll-behavior: smooth;
}   
form{
    padding:3rem;
    width: 40rem;
    min-height: 40rem;
    max-width: 100%;
    max-height: 60rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 1.7rem;
    border: 1px solid greenyellow;
    border-radius: 3rem;
    font-family: 'Electrolize', sans-serif;
}
form label{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.l-range{
    margin-bottom: 2rem;
    height: 6rem;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}
.btns-ctr{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}
.btns-ctr input{
    padding: 1rem ;
    color: rgb(31, 31, 53);
    background-color: greenyellow;
    font-weight: 700;
    border: none;
    border-radius: 0.3rem;
}
.app{
    margin: 2.2rem 0;
    min-height: 3rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    overflow-wrap:anywhere;
}
.hidden{
    display: none;
}
form label:hover{
    cursor: pointer;
}